.btn, .form-control {
    margin: 5px 5px 5px 0px;
    }

body{
    background: fixed;
    background-image: url(../css/pride\ rock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#picture{
display: block;
width: 50%;
margin-left: auto;
margin-right: auto;


}

.style {
    display: inline-block;
    margin: 10px;
}